<!DOCTYPE html>
<html>

<head>
    <title>
        Amanda's Home Page
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">
        <h1>
            <br> Amanda C.
        </h1>
        <p id="welcome">Welcome to my &nbsp;<strong><a href="/skills">Skills</a>
</strong>
        </p> <br>
        <br>
    </div>
</body>

</html>